CMakeCache.txt
CMakeFiles
cmake_install.cmake
htmd_cms_autogen
Makefile
bin/*
src/app/CMakeCache.txt
src/app/CMakeFiles
src/app/cmake_install.cmake
src/app/htmd_cms_autogen
src/app/Makefile
src/lib/CMakeCache.txt
src/lib/CMakeFiles
src/lib/cmake_install.cmake
src/lib/htmd_autogen
src/lib/libhtmd.a
src/lib/Makefile
.direnv
.envrc
.qt
